In [337]:
import numpy
import matplotlib
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
import pandas as pd
import kagglehub
import joblib
from sklearn import tree
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, root_mean_squared_error
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor

In [338]:
df = pd.read_csv("C:/Users/hp/PycharmProjects/FinalAIProj/cars-pre/versions/1/car_price_prediction_.csv")
df

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4

In [339]:
label_encoders = {}
df = pd.get_dummies(
    df,
    columns=["Brand", "Fuel Type", "Transmission", "Condition", "Model"],
    drop_first=True
)

X = df.drop(columns = ["Price"])
y = df["Price"]

In [340]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = RandomForestRegressor(
    n_estimators=400,
    max_depth=None,
    min_samples_leaf=5,
    random_state=42,
    n_jobs=-1
)


model.fit(X_train, y_train)

prediction = model.predict(X_test)

print("Test R²:", r2_score(y_test, prediction))
print("Test MSE:", mean_squared_error(y_test, prediction))
print("Test MAE:", mean_absolute_error(y_test, prediction))
print("Test RMSE:", root_mean_squared_error(y_test, prediction))

Test R²: -0.025796924981186464
Test MSE: 777095878.7660925
Test MAE: 24040.809725607767
Test RMSE: 27876.439492268244